<div>
    <h2>Navegación</h2>
    <a href="http://localhost:3000/products">Productos</a>
    <a href="http://localhost:3000/carts/{{cart}}">Carrito</a>
    <a href="http://localhost:3000/profile">Perfil</a>
    <a href="http://localhost:3000/users/logout">Cerrar sesion</a>
</div>

<h2>Filtros</h2>
<p>
    Precio:
    <a href="http://localhost:3000/products?sort=asc">Ascendente</a>
    <a href="http://localhost:3000/products?sort=desc">Descendente</a>
</p>
<p>
    Disponibilidad:
    <a href="http://localhost:3000/products?status=true">Productos con stock</a>
    <a href="http://localhost:3000/products?status=false">Productos sin stock</a>
</p>
<p><a href="http://localhost:3000/products">Limpiar filtros</a></p>

<h3 style="font-size: 40px;">Bienvenido {{full_name}}</h3>
<p>Rol: {{role}}</p>
<a href="/users/logout">Cerrar sesion</a>


<style>
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        margin-top: 50px;
        width: 30%;
        /* Puedes ajustar el ancho según tus necesidades */
    }
</style>

{{#if hasProducts}}
<div class="product-container">
    {{#each products}}
    <div class="product">
        <img height="300px" src={{this.thumbnail}} alt="product image" />
        <h3>{{this.title}}</h3>
        <p>${{this.price}}</p>
        <p><a href="http://localhost:3000/products?category={{this.category}}">{{this.category}}</a></p>
        <p><a href="http://localhost:3000/products/{{this.id}}">Ver detalle</a></p>

    </div>
    {{/each}}
</div>
{{else}}
<h2>La lista de productos está vacía</h2>
{{/if}}